<header class="header-mobile d-block d-lg-none">
  <div class="header-mobile__bar">
      <div class="container-fluid">
          <div class="header-mobile-inner">
              <a class="logo" href="index">
                  <img src="/images/icon/logo.png" alt="CoolAdmin" />
              </a>
              <button class="hamburger hamburger--slider" type="button">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div>
      </div>
  </div>
  <% if(typeof user != 'undefined') { %>
      <p id="orgnames"><%= user%> </p>
      <%}%>
  <nav class="navbar-mobile">
      <div class="container-fluid">
          <ul class="navbar-mobile__list list-unstyled">
              <li class="has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                      <li>
                          <a href="index">Dashboard 1</a>
                      </li>
                      <li>
                          <a href="index2">Dashboard 2</a>
                      </li>
                      <li>
                          <a href="index3">Dashboard 3</a>
                      </li>
                      <li>
                          <a href="index4">Dashboard 4</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="chart">
                      <i class="fas fa-chart-bar"></i>Examination Records</a>
              </li>
              <li>
                  <a href="table">
                      <i class="fas fa-table"></i>Manage Courses</a>
              </li>
              <li>
                  <a href="form">
                      <i class="far fa-check-square"></i>Add/Modify Student</a>
              </li>
             
              <li>
                  <a href="map">
                      <i class="fas fa-map-marker-alt"></i>Print Result</a>
              </li>
              <li>
                  <a href="map">
                      <i class="fas fa-map-marker-alt"></i>Exam Officers</a>
              </li>
              <li>
                  <a href="map">
                      <i class="fas fa-map-marker-alt"></i>Add/modify Parents</a>
              </li>
              <li>
                  <a href="map">
                      <i class="fas fa-map-marker-alt"></i>Grade Setting</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
      <a href="#">
          <img src="/images/icon/logo.png" alt="Cool Admin" />
      </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
      <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar__list">
              <li class="active has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li>
                          <a href="index">Dashboard 1</a>
                      </li>
                      <li>
                          <a href="index2">Dashboard 2</a>
                      </li>
                      <li>
                          <a href="index3">Dashboard 3</a>
                      </li>
                      <li>
                          <a href="index4">Dashboard 4</a>
                      </li>
                  </ul>
              </li>
              <li id="cata">
                  <a href="/cat">
                      <i class="fas fa-chart-bar"></i>Examination Records</a>
              </li>
              <li>
                  <a href="/course">
                      <i class="fas fa-table"></i>Manage Courses</a>
              </li>
              <li>
                  <a href="/student">
                      <i class="far fa-check-square"></i>Add/Modify Student</a>
              </li>
              <li>
                  <a href="/exams">
                      <i class="fas fa-calendar-alt"></i>Examination Records</a>
              </li>
              <li>
                  <a href="/result">
                      <i class="fas fa-map-marker-alt"></i>Print Result</a>
              </li>
              <li id="schoola">
                  <a href="/users">
                      <i class="fas fa-map-marker-alt"></i>Exam Officers</a>
              </li>
              <li>
                  <a href="/parents">
                      <i class="fas fa-map-marker-alt"></i>Add/modify Parent</a>
              </li>
              <li>
                  <a href="/grading">
                      <i class="fas fa-map-marker-alt"></i>Grade Setting</a>
              </li>
          </ul>
      </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
